################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/WorkingWithBestlimit/.vs/WorkingWithBestlimit/FileContentIndex/eb06debd-eb21-41a9-8dcc-5e427c595d48.vsidx
